<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanriyue.mall.manage.mapper.SpuSaleAttrMapper">
    <resultMap id="spuSaleAttr" type="com.sanriyue.mall.bean.SpuSaleAttr" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.sanriyue.mall.bean.SpuSaleAttrValue" autoMapping="true">
            <result column="sale_attr_value_id" property="id"></result>
        </collection>
    </resultMap>

    <select id="getSpuSaleAttrList" resultMap="spuSaleAttr">
        select sa.id ,sa.spu_id, sa.sale_attr_name,sa.sale_attr_id,
        sv.id sale_attr_value_id,
        sv.sale_attr_value_name
        from spu_sale_attr sa inner join spu_sale_attr_value  sv
        on  sa.spu_id=sv.spu_id and sa.sale_attr_id=sv.sale_attr_id
        where  sa.spu_id=#{spu_id}
    </select>
</mapper>